{% extends 'AppBundle:roadtrip:index.html.twig' %}

{% block body %}
    <body onload="initialize()">
    <div>Modification du roadtrip</div>
    <div id="googleMap"></div>
    <div id="search">
        {{ form_start(edit_form) }}
        <div>
            {{ form_label(edit_form.stopStart) }}
            {{ form_widget(edit_form.stopStart.address, {'id': 'addressDep', 'attr' : {'class': 'autocomplete'}}) }}
            {{ form_widget(edit_form.stopStart.title) }}
            {{ form_widget(edit_form.stopStart.description) }}
            {{ form_widget(edit_form.stopStart.lat, {'id': 'addressDeplat'}) }}
            {{ form_widget(edit_form.stopStart.lon, {'id': 'addressDeplon'}) }}
        </div>
        <div>
            {{ form_label(edit_form.stopEnd) }}
            {{ form_widget(edit_form.stopEnd.address, {'id': 'addressDes', 'attr' : {'class': 'autocomplete'}}) }}
            {{ form_widget(edit_form.stopEnd.title) }}
            {{ form_widget(edit_form.stopEnd.description) }}
            {{ form_widget(edit_form.stopEnd.lat, {'id': 'addressDeslat'}) }}
            {{ form_widget(edit_form.stopEnd.lon, {'id': 'addressDeslon'}) }}
        </div>
        <div>
            {{ form_label(edit_form.title) }}
            {{ form_widget(edit_form.title) }}
        </div>
        <div>
            {{ form_label(edit_form.description) }}
            {{ form_widget(edit_form.description) }}
        </div>
        <div>
            {{ form_label(edit_form.duration) }}
            {{ form_widget(edit_form.duration) }}
        </div>
        <button id="filldetails" class="btn btn-success">Ajouter une étape</button>
        <div id="container-stop">
            {% set prototype_stop = edit_form.stops.vars.prototype %}
            <div id="prototype-stop" class="prototype-stop hide" data-nbstop="{{ stops|length }}" hidden>
                <section class="form-group">
                    <div>
                        {{ form_widget(prototype_stop.lat) }}
                        {{ form_widget(prototype_stop.lon) }}
                    </div>
                    <div>
                        {{ form_label(prototype_stop.address) }}
                        {{ form_widget(prototype_stop.address) }}
                    </div>
                    <div>
                        {{ form_label(prototype_stop.title) }}
                        {{ form_widget(prototype_stop.title) }}
                    </div>
                    <div>
                        {{ form_label(prototype_stop.description) }}
                        {{ form_widget(prototype_stop.description) }}
                    </div>
                </section>
            </div>
            {% set i = 1 %}
            {% for stop in stops %}
                <section class="form-group" id="{{ stop.id }}">
                    <div>
                        {% set id = 'roadtrip_stops_'~i %}
                        {% set name = 'roadtrip[stops]['~i~']' %}
                        <input type="hidden" id="{{ id~'_lat' }}" name="{{ name~'[lat]' }}" value="{{ stop.lat }}">
                        <input type="hidden" id="{{ id~'_lon' }}" name="{{ name~'[lon]' }}" value="{{ stop.lon }}">
                    </div>
                    <div>
                        <label for="{{ id~'_address' }}">Adresse</label>
                        <input type="text" id="{{ id~'_address' }}" name="{{ name~'[address]' }}" class="autocomplete-field autocomplete" value="{{ stop.address }}" placeholder="Indiquez un lieu" autocomplete="off">
                    </div>
                    <div>
                        <label for="{{ id~'_title' }}">Titre de l'étape</label>
                        <input type="text" id="{{ id~'_title' }}" name="{{ name~'[title]' }}" value="{{ stop.title }}">
                    </div>
                    <div>
                        <label for="{{ id~'_description' }}">Description de l'étape</label>
                        <textarea id="{{ id~'_description' }}" name="{{ name~'[description]' }}">{{ stop.description }}</textarea>
                    </div>
                    <div><a href="#" class="btn btn-danger delete-tome">Supprimer</a></div>
                </section>
                {% set i = i+1 %}
            {% endfor %}
        </div>
        <div>
            <!-- Ajout des marqueurs sur la carte et remplissage des latitude et longitude des différents points -->
            <button class="btn btn-info" onclick="codeAddress()">Chercher sur la carte</button>
            {{ form_row(edit_form.submit, {'attr' : {'disabled': 'disabled'}}) }}
        </div>
        {{ form_end(edit_form, {'render_rest': false}) }}
        <div id="directions-panel"></div>
    </div>

    <div>
        <h3>Les étapes en base</h3>
        {% for stop in stops %}
            <div>
                ID : {{ stop.id }}
                Ville : {{ stop.address }}
                Latitude : {{ stop.lat }}
                Longitude : {{ stop.lon }}
            </div>
        {% endfor %}
    </div>
    </body>
{% endblock %}
