{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/jquery.dataTables.min.css'
    '@AppBundle/Resources/public/css/dataTables.bootstrap4.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- Liste des roadtrips -->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header text_h2"> <span class="span_h2"> Envie de voyage ? </span> Regardez et trouvez votre <span class="span_h2"> bonheur </span> parmi tous ces <span class="span_h2">roadtrips</span>.</h2>
                </div>
            </div>
        </div>
    </div>

    <!--content-->
    <div class="container">
        <!--filtre-->
        <div id="search" class="row">
            <div class="col s6">
                <nav>
                    <div class="nav-wrapper">
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                            </div>
                        </form>
                    </div>
                </nav>
            </div>
            {# rajouter le contrôle sur le user: si il est connecter, affiche le bouton create, sinon juste le tableau #}
            <div class="col s6">
                <a class="waves-effect waves-light btn-large blue darken-3" href="{{ path('roadtrip_new') }}"><i class="material-icons right">add</i>Ou créez Votre propre Roadtrip</a>
            </div>
        </div>
        <div class="row">
            {% for roadtrip in roadtrips %}
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ asset('bundles/app/images/roadtrip.jpg') }}" alt="roadtrip">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><div class="truncate">{{ roadtrip.title }}</div><i class="material-icons right">more_vert</i></span>
                            <p><a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">{% if roadtrip.stopStart %}{{ roadtrip.stopStart.address }}{% else %}N/A{% endif %} - {% if roadtrip.stopEnd %}{{ roadtrip.stopEnd.address }}{% else %}N/A{% endif %}</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ roadtrip.title }}<i class="material-icons right">close</i></span>
                            <p>{{ roadtrip.description }}</p>
                            <p>Durée : {{ roadtrip.duration }} jours</p>
                            <p>Etapes : {% if roadtrip.stops|length == 0 %}0{% else %}{{ roadtrip.stops|length-2 }}{% endif %}</p>
                            <p class="center-align"><a class="waves-effect blue lighten-1 btn" href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">Voir ce roadtrip</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {#{{ render(controller('AppBundle:Roadtrip:new')) }}#}

    {#<table id="roadtrip_list">
        <thead>
            <tr>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Durée (en jours)</th>
                <th>Nombre d'étapes intermédiaires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roadtrip in roadtrips %}
            <tr>
                <td>{% if roadtrip.stopStart %}{{ roadtrip.stopStart.address }}{% else %}N/A{% endif %}</td>
                <td>{% if roadtrip.stopEnd %}{{ roadtrip.stopEnd.address }}{% else %}N/A{% endif %}</td>
                <td>{{ roadtrip.title }}</td>
                <td>{{ roadtrip.description }}</td>
                <td>{{ roadtrip.duration }}</td>
                <td>{% if roadtrip.stops|length == 0 %}0{% else %}{{ roadtrip.stops|length-2 }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-info" href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">Consulter</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>#}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
    '@AppBundle/Resources/public/js/dataTables.bootstrap4.min.js'
    '@AppBundle/Resources/public/js/configDatatable.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
{% endblock %}

