{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/jquery.dataTables.min.css'
    '@AppBundle/Resources/public/css/dataTables.bootstrap4.min.css'
    '@AppBundle/Resources/public/slider/css/ion.rangeSlider.css'
    '@AppBundle/Resources/public/slider/css/ion.rangeSlider.skinFlat.css'
    '@AppBundle/Resources/public/slider/css/normalize.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- Liste des roadtrips -->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header text_h2"> <span class="span_h2"> Envie de voyage ? </span> Cherchez et trouvez votre <span class="span_h2"> bonheur </span> parmi tous ces <span class="span_h2">roadtrips</span>.</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="button-new-roadtrip full-width center-align">
        {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) %}
            <a class="waves-effect waves-light btn-large blue darken-3" href="{{ path('roadtrip_new') }}"><i class="material-icons right">airport_shuttle</i>Créez Votre propre Roadtrip</a>
        {% else %}
            <a class="waves-effect waves-light btn-large blue darken-3" href="{{ path('user_connectForm') }}"><i class="material-icons right">airport_shuttle</i>Créez Votre propre Roadtrip</a>
        {% endif %}
    </div>

    <!--content-->
    <div class="container">
        <!--filtre-->
        <div id="search" class="row">
            <form id="myForm" method="POST" action="{{ path('roadtrip_index') }}">
                <div class="col s4">
                    <div class="input-field">
                        <i class="material-icons prefix">search</i>
                        <input name="filters[address]" id="search" type="text" class="validate">
                        <label for="search">Mot clé</label>
                    </div>
                </div>
                <div class="col s3">
                    <p class="range-field">
                        <label>Durée</label>
                        <input type="text" id="durations" value="" name="filters[durations]" />
                    </p>
                </div>
                <div class="col s3">
                    <p class="range-field">
                        <label>Nombre de stops</label>
                        <input type="text" id="nbstops" value="" name="filters[nbStops]" />
                    </p>
                </div>
                <div class="col s2">
                    <a class="btn-floating btn-large red" onclick="submit()">
                        <i class="large material-icons">search</i>
                    </a>
                </div>
            </form>
        </div>

        <div class="row">
            {% for roadtrip in roadtrips %}
                <div class="col s12 m4 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ asset('bundles/app/images/roadtrip.jpg') }}" alt="roadtrip">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><div class="truncate">{{ roadtrip.title }}</div><i class="material-icons right">more_vert</i></span>
                            <p><a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">{% if roadtrip.stopStart %}{{ roadtrip.stopStart.address }}{% else %}N/A{% endif %} - {% if roadtrip.stopEnd %}{{ roadtrip.stopEnd.address }}{% else %}N/A{% endif %}</a></p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">{{ roadtrip.title }}<i class="material-icons right">close</i></span>
                            <p>{{ roadtrip.description }}</p>
                            <p>Durée : {{ roadtrip.duration }} jours</p>
                            <p>Etapes : {% if roadtrip.stops|length == 0 %}0{% else %}{{ roadtrip.stops|length-2 }}{% endif %}</p>
                            <p class="center-align"><a class="waves-effect blue lighten-1 btn" href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">Voir ce roadtrip</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
    '@AppBundle/Resources/public/js/dataTables.bootstrap4.min.js'
    '@AppBundle/Resources/public/js/configDatatable.js'
    '@AppBundle/Resources/public/slider/js/ion-rangeSlider/ion.rangeSlider.js'
    '@AppBundle/Resources/public/slider/js/ion-rangeSlider/ion.rangeSlider.min.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script>
        $(function () {
            $("#durations").ionRangeSlider({
                hide_min_max: true,
                keyboard: true,
                min: 0,
                max: 30,
                from: 10,
                to: 20,
                type: 'double',
                step: 1,
                suffix: "J",
                grid: true
            });

            $("#nbstops").ionRangeSlider({
                hide_min_max: true,
                keyboard: true,
                min: 0,
                max: 30,
                from: 10,
                to: 20,
                type: 'double',
                step: 1,
                suffix: "J",
                grid: true
            });
        });

        function submit() {
            document.getElementById("myForm").submit();
        };
    </script>

    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
{% endblock %}

