{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@AppBundle/Resources/public/css/style.css'
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/bootstrap-theme.min.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}


    <body onload="initialize()">
        {{ render(controller('AppBundle:Roadtrip:new')) }}
    </body>

    <h1>Roadtrips list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Isremoved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roadtrip in roadtrips %}
            <tr>
                <td><a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">{{ roadtrip.slug }}</a></td>
                <td>{{ roadtrip.slug }}</td>
                <td>{{ roadtrip.title }}</td>
                <td>{{ roadtrip.description }}</td>
                <td>{% if roadtrip.createdAt %}{{ roadtrip.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if roadtrip.isRemoved %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roadtrip_new') }}">Create a new roadtrip</a>
        </li>
    </ul>

{% endblock %}


{% block javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'
        '@AppBundle/Resources/public/js/bootstrap.min.js'
        '@AppBundle/Resources/public/js/googleMap.js'
        '@AppBundle/Resources/public/js/form.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
{%  endblock %}

