{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/jquery.dataTables.min.css'
    '@AppBundle/Resources/public/css/dataTables.bootstrap4.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>
    <!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" id="logo-container" class="brand-logo">RoadTripeurs</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ path('roadtrip_index') }}">Roadtrips</a></li>
                        <li><a href="{{ path('user_register') }}">Inscription</a></li>
                        <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a href="#">Roadtrips</a></li>
                        <li><a href="#">Inscription</a></li>
                        <li><a href="#">Connexion</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                </div>
            </div>
        </nav>
    </div>

    <!-- Liste des roadtrips -->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header text_h2"> <span class="span_h2"> Envie de voyage ? </span> Regardez et trouvez votre <span class="span_h2"> bonheur </span> parmi tous ces <span class="span_h2">roadtrips</span>.</h2>
                </div>
            </div>
        </div>
    </div>

    {#{{ render(controller('AppBundle:Roadtrip:new')) }}#}

    {# rajouter le contrôle sur le user: si il est connecter, affiche le bouton create, sinon juste le tableau #}
    <ul>
        <li>
            <a href="{{ path('roadtrip_new') }}" class="btn btn-primary">Nouveau roadtrip</a>
        </li>
    </ul>

    <h1>Les roadtrips</h1>

    <table id="roadtrip_list">
        <thead>
            <tr>
                <th>Départ</th>
                <th>Arrivée</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Durée (en jours)</th>
                <th>Nombre d'étapes intermédiaires</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roadtrip in roadtrips %}
            <tr>
                <td>{% if roadtrip.stopStart %}{{ roadtrip.stopStart.address }}{% else %}N/A{% endif %}</td>
                <td>{% if roadtrip.stopEnd %}{{ roadtrip.stopEnd.address }}{% else %}N/A{% endif %}</td>
                <td>{{ roadtrip.title }}</td>
                <td>{{ roadtrip.description }}</td>
                <td>{{ roadtrip.duration }}</td>
                <td>{% if roadtrip.stops|length == 0 %}0{% else %}{{ roadtrip.stops|length-2 }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-info" href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">Consulter</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <!--Footer-->
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="footer-copyright default_color">
            <div class="container">
                <p class="right">RoadTripeurs</p>
            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
    '@AppBundle/Resources/public/js/dataTables.bootstrap4.min.js'
    '@AppBundle/Resources/public/js/configDatatable.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
{% endblock %}

