{% extends 'base.html.twig' %}

{% block body %}

    <div id="googleMap" style="width:100%;height:400px;"></div>

    <h1>Roadtrips list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Slug</th>
                <th>Title</th>
                <th>Description</th>
                <th>Createdat</th>
                <th>Isremoved</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for roadtrip in roadtrips %}
            <tr>
                <td><a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">{{ roadtrip.slug }}</a></td>
                <td>{{ roadtrip.slug }}</td>
                <td>{{ roadtrip.title }}</td>
                <td>{{ roadtrip.description }}</td>
                <td>{% if roadtrip.createdAt %}{{ roadtrip.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if roadtrip.isRemoved %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('roadtrip_new') }}">Create a new roadtrip</a>
        </li>
    </ul>

{% endblock %}


{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/googleMap.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- Api key : AIzaSyD-I7_9giJEZ6ilQ-21tnFvo5KCcgShXIM -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-I7_9giJEZ6ilQ-21tnFvo5KCcgShXIM&callback=myMap"></script>
{%  endblock %}

