{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
<body onload="initialize()">
    <div id="googleMap"></div>
    <div class="search-map">
        <div class="row">
            <div class="col s12">
                <!--Accordeon-->
                <ul class = "collapsible" data-collapsible = "expandable">
                    <li>
                        <div class = "collapsible-header active">
                            <i class = "material-icons">place</i>Départ</div>
                        <div class = "collapsible-body"><p>This is first section.</p></div>
                    </li>

                    <li>
                        <div class = "collapsible-header active">
                            <i class = "material-icons">flag</i>Arrivé</div>
                        <div class = "collapsible-body"><p>This is second section.</p></div>
                    </li>

                    <li>
                        <div class = "collapsible-header">
                            <i class = "material-icons">pin_drop</i>Etapes</div>
                        <div class = "collapsible-body"><p>This is third section.</p></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="search">
        <button class="btn btn-info" onclick="codeAddress()">Chercher sur la carte</button>
        {{ form_start(form) }}
            <div>
                {{ form_label(form.stopStart) }}
                {{ form_widget(form.stopStart.address, {'id': 'addressDep', 'attr' : {'class': 'autocomplete'}}) }}
                {{ form_widget(form.stopStart.title, {'attr' : {'placeholder': 'Titre du départ'}}) }}
                {{ form_widget(form.stopStart.description, {'attr' : {'placeholder': 'Description du départ'}}) }}
                {{ form_widget(form.stopStart.lat, {'id': 'addressDeplat'}) }}
                {{ form_widget(form.stopStart.lon, {'id': 'addressDeplon'}) }}
            </div>
            <div>
                {{ form_label(form.stopEnd) }}
                {{ form_widget(form.stopEnd.address, {'id': 'addressDes', 'attr' : {'class': 'autocomplete'}}) }}
                {{ form_widget(form.stopEnd.title, {'attr' : {'placeholder': 'Titre de la destination'}}) }}
                {{ form_widget(form.stopEnd.description, {'attr' : {'placeholder': 'Description de la destination'}}) }}
                {{ form_widget(form.stopEnd.lat, {'id': 'addressDeslat'}) }}
                {{ form_widget(form.stopEnd.lon, {'id': 'addressDeslon'}) }}
            </div>
            <div>
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr' : {'placeholder': 'Titre du roadtrip'}}) }}
            </div>
            <div>
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'placeholder': 'Description du roadtrip'}}) }}
            </div>
            <div>
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>
            <button id="filldetails" class="btn btn-success">Ajouter une étape</button>
            <div id="container-stop">
                {% set prototype_stop = form.stops.vars.prototype %}
                <div id="prototype-stop" class="prototype-stop hide" data-nbstop="0" hidden>
                    <section class="form-group">
                        <div>
                            {{ form_widget(prototype_stop.lat) }}
                            {{ form_widget(prototype_stop.lon) }}
                        </div>
                        <div>
                            {{ form_label(prototype_stop.address) }}
                            {{ form_widget(prototype_stop.address) }}
                        </div>
                        <div>
                            {{ form_label(prototype_stop.title) }}
                            {{ form_widget(prototype_stop.title, {'attr' : {'placeholder': 'Titre de l\'étape'}}) }}
                        </div>
                        <div>
                            {{ form_label(prototype_stop.description) }}
                            {{ form_widget(prototype_stop.description, {'attr' : {'placeholder': 'Desription de l\'étape'}}) }}
                        </div>
                    </section>
                </div>
            </div>
            <div>
                <!-- Ajout des marqueurs sur la carte et remplissage des latitude et longitude des différents points -->
                {{ form_row(form.submit, {'attr' : {'disabled': 'disabled'}}) }}
            </div>
        {{ form_end(form, {'render_rest': false}) }}
    <div id="directions-panel"></div>
    </div>

    <ul>
        <li>
            <a href="{{ path('roadtrip_index') }}" class="btn btn-info">Retour aux roadtrips</a>
        </li>
    </ul>

</body>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
{% endblock %}
