{% extends 'base.html.twig' %}

{% block body %}
    {#<h1>Roadtrip creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('roadtrip_index') }}">Back to the list</a>
        </li>
    </ul>#}
    <div id="googleMap"></div>
    <div id="search">
        {{ form_start(form) }}
            <div>
                {{ form_label(form.stopStart) }}
                {{ form_widget(form.stopStart.address, {'id': 'addressDep', 'attr' : {'class': 'autocomplete'}}) }}
                {{ form_label(form.stopEnd) }}
                {{ form_widget(form.stopEnd.address, {'id': 'addressDes', 'attr' : {'class': 'autocomplete'}}) }}
            </div>
            <div>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div>à
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <button id="filldetails">Ajouter une étape</button>
            <div id="container-stop">
                {% set prototype_stop = form.stops.vars.prototype %}
                <div id="prototype-stop" class="prototype-stop hide" hidden>
                    <section class="form-group">
                        {{ form_widget(prototype_stop.address) }}
                    </section>
                </div>
            </div>
        {{ form_end(form, {'render_rest': false}) }}

        <!-- Ajout des input -->
        <button onclick="codeAddress()">Chercher sur la carte</button>

        <div id="directions-panel"></div>
    </div>
{% endblock %}
