{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <body onload="initialize()">
    <div id="googleMap"></div>

    <div class="search-tab">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s3"><a class="active" href="#test-swipe-1" onclick="clearMarkers()"><i class="material-icons blue-text text-darken-1">confirmation_number</i></a></li>
            <li class="tab col s3"><a href="#test-swipe-2" onclick="hotel()"><i class="material-icons indigo-text text-darken-4">hotel</i></a></li>
            <li class="tab col s3"><a href="#test-swipe-3" onclick="food()"><i class="material-icons green-text text-lighten-2">local_dining</i></a></li>
            <li class="tab col s3"><a href="#test-swipe-4"><i class="material-icons orange-text lighten-2-text">info</i></a></li>
        </ul>
    </div>

    <div class="search-map">
        {{ form_start(form) }}
        <div id="test-swipe-1" class="row">
            <h4 class="center-align">Mon roadtrip</h4>
            <div class="col s12">
                <div>
                    {{ form_label(form.title) }}
                    {{ form_widget(form.title, {'attr' : {'placeholder': 'Titre du roadtrip'}}) }}
                </div>
                <!--Accordeon-->
                <ul class = "collapsible" data-collapsible = "expandable">
                    <li>
                        <div class = "collapsible-header active">
                            <i class = "material-icons">place</i>Départ</div>
                        <div class = "collapsible-body">
                            <div class="container">
                                {{ form_widget(form.stopStart.address, {'id': 'addressDep', 'attr' : {'class': 'autocomplete'}}) }}
                                {{ form_widget(form.stopStart.title, {'attr' : {'placeholder': 'Titre du départ'}}) }}
                                {{ form_widget(form.stopStart.description, {'attr' : {'placeholder': 'Description du départ'}}) }}
                                {{ form_widget(form.stopStart.lat, {'id': 'addressDeplat'}) }}
                                {{ form_widget(form.stopStart.lon, {'id': 'addressDeplon'}) }}
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class = "collapsible-header">
                            <i class = "material-icons">flag</i>Arrivée</div>
                        <div class = "collapsible-body">
                            <div class="container">
                                {{ form_widget(form.stopEnd.address, {'id': 'addressDes', 'attr' : {'class': 'autocomplete'}}) }}
                                {{ form_widget(form.stopEnd.title, {'attr' : {'placeholder': 'Titre de la destination'}}) }}
                                {{ form_widget(form.stopEnd.description, {'attr' : {'placeholder': 'Description de la destination'}}) }}
                                {{ form_widget(form.stopEnd.lat, {'id': 'addressDeslat'}) }}
                                {{ form_widget(form.stopEnd.lon, {'id': 'addressDeslon'}) }}
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class = "collapsible-header">
                            <i class = "material-icons">pin_drop</i>Etapes</div>
                        <div class = "collapsible-body">
                            <div class="container-etapes">
                                <div id="container-stop">
                                    {% set prototype_stop = form.stops.vars.prototype %}
                                    <div id="prototype-stop" class="prototype-stop hide" data-nbstop="0" hidden>
                                        <section class="contain-form form-group">
                                            <div>
                                                {{ form_widget(prototype_stop.lat) }}
                                                {{ form_widget(prototype_stop.lon) }}
                                            </div>
                                            <div>
                                                {{ form_label(prototype_stop.address) }}
                                                {{ form_widget(prototype_stop.address) }}
                                            </div>
                                            <div>
                                                {{ form_label(prototype_stop.title) }}
                                                {{ form_widget(prototype_stop.title, {'attr' : {'placeholder': 'Titre de l\'étape'}}) }}
                                            </div>
                                            <div>
                                                {{ form_label(prototype_stop.description) }}
                                                {{ form_widget(prototype_stop.description, {'attr' : {'placeholder': 'Desription de l\'étape'}}) }}
                                            </div>
                                        </section>
                                    </div>
                                </div>
                                <div class="center-align"><a id="filldetails" class="btn-floating btn-large waves-effect waves-light red accent-2 center-align"><i class="material-icons">add</i></a></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- Ajout des marqueurs sur la carte et remplissage des latitude et longitude des différents points -->
                <div>
                    {{ form_label(form.duration) }}
                    {{ form_widget(form.duration, {'attr': {'placeholder': 'Durée'}}) }}
                </div>
                <div>
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description, {'attr': {'placeholder': 'Description du roadtrip'}}) }}
                </div>
                <a class="waves-effect waves-light btn green lighten-3 full-width" onclick="codeAddress()">Chercher sur la carte</a><br><br>
                {{ form_row(form.submit, {'attr' : {'disabled': 'disabled'}}) }}
                {{ form_end(form, {'render_rest': false}) }}
            </div>
        </div>
        <div id="test-swipe-2" class="col s12 red">Test 2</div>
        <div id="test-swipe-3" class="col s12 green">Test 3</div>
        <div id="test-swipe-4" class="col s12 yellow">Test 4</div>
    </div>
    </body>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places,visualization&callback=initAutocomplete"></script>
    <script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/routeboxer/src/RouteBoxer.js"></script>
{% endblock %}
