{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="roadtrip-header">
        <div class="container">
            <div class="header">
                <h1>{{ roadtrip.title }}</h1>
                {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) and (app.session.get('currentUser').id == roadtrip.owner.id)%}
                    <div class="actions ">
                        <div class="row">
                            <div class="col s12 ">
                                <a  class="btn waves-effect waves-light indigo darken-2 left" href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}"><i class="material-icons left">edit</i>Modifier</a>
                                {{ form_start(delete_form, {'attr': {}}) }}
                                <button type="submit" class="btn waves-effect waves-light red lighten-2 left"><i class="material-icons left">delete</i> Supprimer</button>
                                {{ form_end(delete_form) }}
                                <div class="fb-share-button left" data-href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" data-layout="button_count" data-size="large" data-mobile-iframe="true">
                                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) and (app.session.get('currentUser').id != roadtrip.owner.id)%}
                    <div class="favorites" id="buttons_favorites">
                        <div class="row">
                            {% if like == 0 %}
                                <a class="btn waves-effect waves-light indigo darken-2" id="like_add"><i class="material-icons left">stars</i>Ajouter à mes favoris</a>
                            {% else %}
                                <a class="btn waves-effect waves-light red lighten-2" id="like_remove"><i class="material-icons left">remove_circle</i>Retirer de mes favoris</a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="roadtrip-content">
        <div class="container">
            <div class="infos center-align">
                <div class="row">
                    <i class="material-icons small grey-text">timer</i><span>{{ roadtrip.duration }}{% if roadtrip.duration == 1 %} jour{% else %} jours{% endif %}</span>
                    <i class="material-icons small grey-text">star</i><span id="average">{{ moyenne }}</span>
                    <i class="material-icons small grey-text">person</i><span>{{ roadtrip.owner.firstName }} {{ roadtrip.owner.lastName }}</span>
                </div>
            </div>
            <div class="description">
                <div class="row">
                    <div class="col s8">
                        <h2>Description</h2>
                       <p>{{ roadtrip.description }}</p>
                    </div>
                    <div class="col s4 edit_map">
                        <a href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}" >
                            <img src="{{ asset('bundles/app/images/edit_map.png') }}" alt="edit map">
                            <div class="overlay">
                                <div class="text">Editer sur la map</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="steps">
                <div class="row">
                    <div class="col s8">
                        <h2>Etapes</h2>
                        {% if roadtrip.stops is empty %}
                            <div id="depart"><strong>Départ : </strong>{{ roadtrip.stopStart.address }}</div>
                            <div id="destination"><strong>Destination : </strong>{{ roadtrip.stopEnd.address }}</div>
                        {% else %}
                            {% set i = 1 %}
                            {% for stop in roadtrip.stops %}
                                {% if roadtrip.stopStart == stop %}
                                    <div id="depart"><strong>Départ : </strong>{{ stop.address }}</div>
                                {% elseif roadtrip.stopEnd == stop %}
                                    <div id="destination"><strong>Destination : </strong>{{ stop.address }}</div>
                                {% else %}
                                    <div class="etape"><strong>Etape {{ i }} : </strong>{{ stop.address }}</div>
                                    {% set i = i+1 %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="commentaires" id="reviews">
                <div class="row ">
                    <h2>Commentaires</h2>
                    <div class="col m12">
                        {% if commentaires is empty %}
                            <div class="nocomm"><p>Aucun avis n'a encore été laissé sur ce roadtrip.</p></div>
                        {% else %}
                            {% for comm in commentaires %}
                                <div class="card-panel grey lighten-3">
                                    {{ comm.commentaire }}
                                    <br><em><a href="">{{ comm.user }}</a>, {{ comm.date|date('d/m/Y H:i:s') }}</em>
                                    {% set userId = app.session.get('currentUser').id|default(null) %}
                                    {% if comm.idUser == userId %}
                                        <a class="remove_review"  data-url="{{ path('review_remove', { 'reviewId': comm.reviewId, 'roadtripId': roadtrip.id}) }}"><i class="material-icons small grey-text">close</i></a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) %}
                    {% if roadtrip.owner.id != app.session.get('currentUser').id %}
                        <div id="button_review" class="right-align">
                            <a class="btn-large disabled " id="review">Donnez votre avis</a>
                        </div>
                        <div id="form_review" hidden>
                            {{ render(controller("AppBundle:Review:new", { 'roadtripId': roadtrip.id })) }}
                        </div>
                    {% endif %}
                {% else %}
                    <em><a href="{{ path('user_connectForm') }}">Connectez-vous</a> ou <a href="{{ path('user_register') }}">inscrivez-vous</a> si vous voulez donner votre avis sur ce roadtrip !</em>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
    <script>


        function reviews() {
            //création d'un avis
            $('#review_submit').click(function (e){
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "{{ path('review_new', { 'roadtripId': roadtrip.id }) }}",
                    data: $('form[name="review"]').serialize(),
                    success: function(response) {
                        $('#average').html(response.average);
                        $('#reviews').html(response.view);
                        $('input:radio').prop("checked", false);
                        $('#review_commentaire').val("");
                        $('#form_review').hide();
                        reviews();
                    }
                });
            });

            //suppression d'un avis par l'utilisateur qui l'a posté
            var removeReviews = document.getElementsByClassName('remove_review');
            if (removeReviews) {
                Array.prototype.forEach.call(removeReviews, function(removeReview, i) {
                    removeReview.addEventListener('click', function(e) {
                        e.preventDefault();
                        var url = removeReview.getAttribute('data-url');
                        $.ajax({
                            type: "GET",
                            url: url,
                            success: function(response) {
                                $('#average').html(response.average);
                                $('#reviews').html(response.view);
                                reviews();
                            }
                        });
                    });
                });
            }

            //affichage du formulaire pour ajouter une note et un commentaire
            $('#review').click(function (e) {
                e.preventDefault();
                $('#form_review').show();
            });
        }


        //fonction pour afficher ou enlever les boutons des favoris
        function likeButton() {
            {% set userId = 0 %}
            {% if app.session.get('currentUser').id is defined %}
                {% set userId = app.session.get('currentUser').id %}
            {% endif %}

            $('#like_add').click(function (e){
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "{{ path('isliked_add', { 'roadtripId': roadtrip.id, 'userId': userId }) }}",
                    success: function(response) {
                        $('#buttons_favorites').html(response.view);
                        likeButton();
                    }
                });
            });

            $('#like_remove').click(function (e){
                e.preventDefault();
                $.ajax({
                    type: "GET",
                    url: "{{ path('isliked_remove', { 'roadtripId': roadtrip.id, 'userId': userId }) }}",
                    success: function(response) {
                        $('#buttons_favorites').html(response.view);
                        likeButton();
                    }
                });
            });
        }


        $(document).ready(function () {
            likeButton();
            reviews();
        });
    </script>
{% endblock %}
