{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/style.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="roadtrip-header">
        <div class="container">
            <div class="header">
                <h1 class="left-align">{{ roadtrip.title }}</h1>
                <h4 class="left-align">Durée : {{ roadtrip.duration }}{% if roadtrip.duration == 1 %} jour{% else %} jours{% endif %}</h4>
                <h4 class="left-align">Moyenne : {{ moyenne }}</h4>
                <div class="left-align">
                </div>
                {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) %}
                    <div class="actions">
                        <div class="row">
                            <div class="col s12 left-align">
                                <a class="waves-effect waves-light btn-large orange lighten-1" href="{{ path('roadtrip_edit', { 'slug': roadtrip.slug }) }}"><i class="material-icons left">edit</i>Modifier</a>
                                {{ form_start(delete_form, {'attr': {'class': 'float-button'}}) }}
                                <button type="submit" class="waves-effect waves-light btn-large red darken-2"><i class="material-icons left">delete</i> Supprimer</button>
                                {{ form_end(delete_form) }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h4 class="left-align">Propriétaire : {{ roadtrip.owner.firstName }} {{ roadtrip.owner.lastName }}</h4>
            </div>
        </div>
    </div>

    <div id="roadtrip-content">
        <div class="container">
            <div class="description">
                <div class="row">
                    <div class="col s8">
                        <h2>Description</h2>
                        <p>{{ roadtrip.description }}</p>
                    </div>
                </div>
            </div>
            <div class="steps">
                <div class="row">
                    <div class="col s8">
                        <h2>Etapes</h2>
                        {% set i = 1 %}
                        {% for stop in roadtrip.stops %}
                            {% if roadtrip.stopStart == stop %}
                                <div id="depart"><strong>Départ : </strong>{{ stop.address }}</div>
                            {% elseif roadtrip.stopEnd == stop %}
                                <div id="destination"><strong>Destination : </strong>{{ stop.address }}</div>
                            {% else %}
                                <div class="etape"><strong>Etape {{ i }} : </strong>{{ stop.address }}</div>
                                {% set i = i+1 %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="commentaires">
                <div class="row">
                    <div class="col s8">
                        <h2>Commentaires</h2>
                        {% for comm in commentaires %}
                            <div class="card-panel grey lighten-3">
                                {{ comm }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="roadtrip_avis">
        <div class="container">
            {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) %}
                {% if roadtrip.owner.id != app.session.get('currentUser').id %}
                    <div id="button_avis">
                        <a class="waves-effect waves-light btn-large blue darken-3" id="avis">Donnez votre avis</a>
                    </div>
                    <div id="form_avis" hidden>
                        {{ render(controller("AppBundle:Avis:new", { 'roadtripId': roadtrip.id })) }}
                    </div>
                {% endif %}
            {% else %}
                <em><a href="{{ path('user_connectForm') }}">Connectez-vous</a> ou <a href="{{ path('user_register') }}">inscrivez-vous</a> si vous voulez donner votre avis sur ce roadtrip !</em>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
    <script>
        $('#avis').click(function (e) {
            e.preventDefault();
            $('#form_avis').show();
        })
    </script>
{% endblock %}
