<!-- Pre Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<!--Navigation-->
<div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
                <a href="{{ path('homepage') }}" id="logo-container" class="brand-logo">RoadTripeurs</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ path('roadtrip_index') }}">Roadtrips</a></li>
                    {% if (app.session.get('currentUser') is not null) and (app.session.get('currentUser') is not empty) %}
                        <li><a href="{{ path('user_index') }}">Profil</a></li>
                        <li><a href="{{ path('user_disconnect') }}">Déconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('user_register') }}">Inscription</a></li>
                        <li><a href="{{ path('user_connectForm') }}">Connexion</a></li>
                    {% endif %}
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#">Roadtrips</a></li>
                    <li><a href="#">Inscription</a></li>
                    <li><a href="#">Connexion</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>
</div>