{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stop</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stop.id }}</td>
            </tr>
            <tr>
                <th>Stopnumber</th>
                <td>{{ stop.stopNumber }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ stop.slug }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ stop.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stop.description }}</td>
            </tr>
            <tr>
                <th>Lat</th>
                <td>{{ stop.lat }}</td>
            </tr>
            <tr>
                <th>Lon</th>
                <td>{{ stop.lon }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ stop.address }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stop_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stop_edit', { 'id': stop.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
