<div>
    {% if favorites is empty %}
        <p><i>Vous n'avez aucun favori.</i></p>
    {% else %}
        {% for favorite in favorites %}
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ asset('bundles/app/images/roadtrip.jpg') }}" alt="roadtrip">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><div class="truncate">{{ favorite.title }}</div><i class="material-icons right">more_vert</i></span>
                        <p><a href="{{ path('roadtrip_show', { 'slug': favorite.slug }) }}">{% if favorite.stopStart %}{{ favorite.stopStart.address }}{% else %}N/A{% endif %} - {% if favorite.stopEnd %}{{ favorite.stopEnd.address }}{% else %}N/A{% endif %}</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ favorite.title }}<i class="material-icons right">close</i></span>
                        <p>{{ favorite.description }}</p>
                        <p>Durée : {{ favorite.duration }} jours</p>
                        <p>Etapes : {% if favorite.stops|length == 0 %}0{% else %}{{ favorite.stops|length-2 }}{% endif %}</p>
                        <p class="center-align"><a class="waves-effect blue lighten-1 btn" href="{{ path('roadtrip_show', { 'slug': favorite.slug }) }}">Voir ce roadtrip</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
        <a class="waves-effect waves-light btn-large blue darken-3" id="all_favorites" href="{{ path('isliked_all') }}">Voir tous mes favoris</a>
    {% endif %}
</div>