{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div id="register">
        <div class="container">
            <div class="row">
                <div class="content-login col s12 m8 offset-m2 l6 offset-l3">
                    <h1 class="center-align">Connexion</h1>
                    <a class="waves-effect waves-light btn social facebook full-width" href="{{ path('user_login_fb') }}">
                        <i class="fa fa-facebook"></i>
                        Se connecter avec Facebook
                    </a>
                    <div class="row center-align">
                        <h4>OU</h4>
                    </div>
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="row center-align">
                            <h4>{{ flashMessage }}</h4>
                        </div>
                    {% endfor %}
                    <form action="{{ path("user_connect") }}" method="post">
                        <div class="full-width">
                                <div class="input-field col s12">
                                    <input type="email" id="email" name="email" required="required" class="validate"/>
                                    <label for="email" class="active">Email</label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="password" name="password" type="password" class="validate" required="required">
                                    <label for="password" class="active">Mot de passe</label>
                                </div>
                        </div>
                        <div class="center-align">
                            <button class="btn waves-effect waves-light full-width" id="_submit" name="_submit" type="submit" name="action">Se connecter
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                         <div class="center-align">
                            <a href="{{ path('user_ask_password') }}">Mot de passe oublié ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script>#}
        {#$('.page-footer').css('position','absolute');#}
        {#$('.page-footer').css('width','100%');#}
        {#$('.page-footer').css('bottom','0');#}
    {#</script>#}

{% endblock %}
