{% extends 'AppBundle::base.html.twig' %}


{% block body %}
    <div id="profile" class="container">
        <div class="header-profile">
            <div id="name" class="center-align">
                <img class="" src="{{ asset('bundles/app/images/profile.jpg') }}" />
                <h2 class="">{{ app.session.get('currentUser').firstname }} {{ app.session.get('currentUser').lastname }}</h2>
            </div>
        </div>
        <div class="edit-button right-align">
            <a class="waves-effect waves-light btn blue lighten-2" href="{{ path('modify_my_account.html.twig') }}"><i class="material-icons right">mode_edit</i>Modifier</a>
        </div>
        <div class="content-profile">
            <div class="row">
                <div class="col s8">
                    <h4>Mes informations</h4>
                    <div id="name">
                        <i class="material-icons left">account_circle</i>{{ app.session.get('currentUser').firstname }} {{ app.session.get('currentUser').lastname }}
                    </div>
                </div>
                <div class="col s8">
                    <div id="mail">
                        <i class="material-icons left">email</i>{{ app.session.get('currentUser').email }}
                    </div>
                </div>
                <div class="col s8">
                    <div id="birthdate">
                        <i class="material-icons left">cake</i>{{ app.session.get('currentUser').birthdate|date('d/m/Y') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="roadtrip-profile content-profile">
            <div class="row">
                    <h4>Mes roadtrips</h4>
                    {% if roadtrips is empty %}
                        <p><i>Vous n'avez pas encore créé de roadtrip. Retournez à la liste des roadtrips pour pouvoir partager votre propre aventure !</i></p>
                    {% else %}
                        {% for roadtrip in roadtrips %}
                            <div class="col s12 m4 l4">
                                <div class="card">
                                    <div class="card-image waves-effect waves-block waves-light">
                                        <img class="activator" src="{{ asset('bundles/app/images/roadtrip.jpg') }}" alt="roadtrip">
                                    </div>
                                    <div class="card-content">
                                        <span class="card-title activator grey-text text-darken-4"><div class="truncate">{{ roadtrip.title }}</div><i class="material-icons right">more_vert</i></span>
                                        <p><a href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">{% if roadtrip.stopStart %}{{ roadtrip.stopStart.address }}{% else %}N/A{% endif %} - {% if roadtrip.stopEnd %}{{ roadtrip.stopEnd.address }}{% else %}N/A{% endif %}</a></p>
                                    </div>
                                    <div class="card-reveal">
                                        <span class="card-title grey-text text-darken-4">{{ roadtrip.title }}<i class="material-icons right">close</i></span>
                                        <p>{{ roadtrip.description }}</p>
                                        <p>Durée : {{ roadtrip.duration }} jours</p>
                                        <p>Etapes : {% if roadtrip.stops|length == 0 %}0{% else %}{{ roadtrip.stops|length-2 }}{% endif %}</p>
                                        <p class="center-align"><a class="waves-effect blue lighten-1 btn" href="{{ path('roadtrip_show', { 'slug': roadtrip.slug }) }}">Voir ce roadtrip</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
            </div>
        </div>
        <div class="roadtrip-favorites content-profile">
            <div class="row">
                <h4>Mes roadtrips favoris</h4>
                {{ render(controller("AppBundle:IsLiked:index")) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    '@AppBundle/Resources/public/js/jquery.dataTables.min.js'
    '@AppBundle/Resources/public/js/dataTables.bootstrap4.min.js'
    '@AppBundle/Resources/public/js/configDatatable.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&callback=myMap&libraries=places&callback=initAutocomplete"></script>
{% endblock %}


