{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/jquery-ui.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <!--Hero-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="opacity">
            <div class="container">
                <h1 class="text_h center header cd-headline letters type">
                    <span>J'aime</span>
                    <span class="cd-words-wrapper waiting">
                    <b class="is-visible">Découvrir</b>
                    <b>Planifier</b>
                    <b>Prendre la route</b>
                </span>
                </h1>
            </div>
        </div>
    </div>

    <!-- background-image: url("/bundles/app/images/map.png");background-color: rgba(248, 247, 216, 0.7); -->

    <!--Form roadtrip-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row" id="form_search">
                <div  class="col s12">
                    <h2 class="center header text_h2"> Créer votre propre aventure <span class="span_h2"> Organisez votre voyage  </span>Trouver les bons plans. </h2>
                </div>
                <!-- Faire la recherche en foncion du départ et de la destination (cf. CEMM) -->
                <form role="form" class="form-horizontal">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">place</i>
                        <input id="icon_prefix" type="text" class="validate" data-id="address" data-url="{{ path('search_address') }}">
                        <label for="icon_prefix">Départ de</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">pin_drop</i>
                        <input id="icon_telephone" type="tel" class="validate" data-id="address" data-url="{{ path('search_address') }}">
                        <label for="icon_telephone">Destination</label>
                    </div>
                    <div class="input-field col s12 center-align">
                        <a class="waves-effect blue lighten-1 btn" id="search_rt" data-url="{{ path('search_roadtrip') }}">Trouver mon roadtrip</a>
                    </div>
                </form>
            </div>
            <div id="results_search" hidden>
                <h3>Résultats de la recherche</h3>
                <table id="results_search_roadtrip">
                    <thead>
                        <tr>
                            <th>Titre</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/parallax.jpeg') }}" style="width: 100%"></div>
    </div>

    <!--Form contact-->
    <div class="section scrollspy" id="work">
        <div class="container">
            <h2 class="header text_b">Contactez-nous</h2>
        </div>
    </div>

    <!--Footer-->
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="footer-copyright default_color">
            <div class="container">
                <p class="right">RoadTripeurs</p>
            </div>
        </div>
    </footer>


{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    '@AppBundle/Resources/public/js/jquery-ui.min.js'
    '@AppBundle/Resources/public/js/searchForm.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
