{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/plugin-min.css'
    '@AppBundle/Resources/public/min/custom-min.css'
    '@AppBundle/Resources/public/css/jquery-ui.min.css'
    '@AppBundle/Resources/public/slider/css/ion.rangeSlider.css'
    '@AppBundle/Resources/public/slider/css/ion.rangeSlider.skinFlat.css'
    '@AppBundle/Resources/public/slider/css/normalize.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}

    <!--Hero-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="opacity">
            <div class="container">
                <h1 class="text_h center header cd-headline letters type">
                    <span>J'aime</span>
                    <span class="cd-words-wrapper waiting">
                    <b class="is-visible">Découvrir</b>
                    <b>Planifier</b>
                    <b>Prendre la route</b>
                </span>
                </h1>
            </div>
        </div>
    </div>

    <!-- background-image: url("/bundles/app/images/map.png");background-color: rgba(248, 247, 216, 0.7); -->

    <!--Form roadtrip-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row" id="form_search">
                <div  class="col s12">
                    <h2 class="center header text_h2"> Créer votre propre aventure <span class="span_h2"> Organisez votre voyage  </span>Trouver les bons plans. </h2>
                </div>
                <!-- Faire la recherche en foncion du départ et de la destination (cf. CEMM) -->
                {{ include('@AppBundle/Resources/views/includes/filtres.html.twig') }}
            </div>
        </div>
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('bundles/app/images/parallax.jpeg') }}" style="width: 100%"></div>
    </div>

    <!--Form contact-->
    <div class="section scrollspy" id="contact">
        <div class="container">
            <h2 class="header text_b">Contactez-nous</h2>
            <form role="form" class="form-horizontal">
                <div id="contactez-nous">
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="contact_name">Nom</label>
                            <input id="contact_name" type="text" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <label for="contact_subject">Sujet</label>
                            <input id="contact_subject" type="text" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <label for="contact_fname">Prénom</label>
                            <input id="contact_fname" type="text" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <label for="contact_mail">Mail</label>
                            <input id="contact_mail" type="email" class="validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="contact_message">Message</label>
                            <textarea id="contact_message" class="materialize-textarea" placeholder="Votre message ..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="input-field col s12 right-align">
                    <a class="waves-effect blue lighten-1 btn" id="contact_send" data-url="{{ path('contact_us') }}">Envoyer</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/min/plugin-min.js'
    '@AppBundle/Resources/public/min/custom-min.js'
    '@AppBundle/Resources/public/js/jquery-ui.min.js'
    '@AppBundle/Resources/public/js/searchForm.js'
    '@AppBundle/Resources/public/js/contactUs.js'
    '@AppBundle/Resources/public/js/jquery-3.2.1.min.js'
    '@AppBundle/Resources/public/js/materialize.min.js'
    '@AppBundle/Resources/public/js/form.js'
    '@AppBundle/Resources/public/js/app.js'
    '@AppBundle/Resources/public/slider/js/ion-rangeSlider/ion.rangeSlider.js'
    '@AppBundle/Resources/public/slider/js/ion-rangeSlider/ion.rangeSlider.min.js'
    '@AppBundle/Resources/public/js/filtres.js'
    %}
    <script src="{{ asset_url }}"></script>
    <script>$('.parallax').parallax();</script>
    {% endjavascripts %}
{% endblock %}
