{% extends 'AppBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    '@AppBundle/Resources/public/min/css/jquery-ui.min.css'
    '@AppBundle/Resources/public/vendor/slider/css/ion.rangeSlider.css'
    '@AppBundle/Resources/public/vendor/slider/css/ion.rangeSlider.skinFlat.css'
    '@AppBundle/Resources/public/vendor/slider/css/normalize.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <!--Hero-->
    <div class="section no-pad-bot" id="index-banner">
        <div class="opacity">
            <div class="container">
                <h1 class="text_h center header cd-headline letters type">
                    <span>J'aime</span>
                    <span class="cd-words-wrapper waiting">
                    <b class="is-visible">Découvrir</b>
                    <b>Planifier</b>
                    <b>Prendre la route</b>
                </span>
                </h1>
            </div>
        </div>
    </div>

    <!-- background-image: url("/bundles/app/images/map.png");background-color: rgba(248, 247, 216, 0.7); -->

    <!--Form roadtrip-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row" id="form_search">
                <div  class="col s12">
                    <h2 class="center header text_h2"> Créer votre propre aventure <span class="span_h2"> Organisez votre voyage  </span>Trouver les bons plans. </h2>
                </div>
                <!-- Faire la recherche en foncion du départ et de la destination (cf. CEMM) -->
                {{ include('@AppBundle/Resources/views/includes/filtres.html.twig') }}
            </div>
        </div>
    </div>

    <!--Etapes-->
    <div id="steps">
        <div class="steps-content">
            <div class="row">
                <h3>Votre plateforme de planification de voyage</h3>
            </div>
            <div class="row">
                <div class="col s4">
                    <i class="col s2 material-icons medium yellow-text text-darken-1">looks_one</i>
                </div>
                <div class="col s4">
                    <i class="col s2 material-icons medium yellow-text text-darken-1">looks_two</i>
                </div>
                <div class="col s4">
                    <i class="col s2 material-icons medium yellow-text text-darken-1">looks_3</i>
                </div>
            </div>
            <div class="row">
                <div class="steps-blocs col s4">
                    <h5> Planifiez votre trip</h5>
                    <p>Route d'un point A à un point B et découvrez ce qui à entre les deux.</p>
                </div>
                <div class="steps-blocs col s4">
                    <h5>Trouvez vos Hôtels</h5>
                    <p>Choisissez où passer votre temps pendant votre trajet.</p>
                </div>
                <div class="steps-blocs col s4">
                    <h5>Explorez et sauvegardez</h5>
                    <p>Enregistrez votre trip pour pouvoir le retrouver facilement.</p>
                </div>
            </div>
        </div>
    </div>

    <!--Parallax-->
    <div class="parallax-container">
        <div id="parallax"><img src="{{ asset('bundles/app/images/banner_home.jpg') }}"></div>
    </div>

    <!--Partenary-->
    <div id="partener">
            <div class="partener-content">
                <div class="row">
                    <i class="col s2 material-icons large yellow-text text-darken-1">star</i>
                    <div class="col s8">
                        <h3>Vous êtes un établissement ?</h3>
                        <p>Nous avons pensé à vous ! RoadMonTrip vous propose de mettre votre établiessement en avant sur toutes nos recherches.</p>
                        <a class="waves-effect red accent-2 btn" href="{{ path('partner') }}">Découvrir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Video-->
    <div class="play">
        <video autoplay muted loop id="myVideo" poster="{{ asset('bundles/app/images/loadingVideo.png') }}">
            <source src="{{ asset('bundles/app/video/show.mp4') }}" type="video/mp4">
        </video>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts
    '@AppBundle/Resources/public/vendor/slider/js/ion-rangeSlider/ion.rangeSlider.js'
    '@AppBundle/Resources/public/vendor/slider/js/ion-rangeSlider/ion.rangeSlider.min.js'
    '@AppBundle/Resources/public/js/filtres.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function(){
            $('#parallax').parallax();
        });
    </script>
{% endblock %}
